#head{
    background: url("https://images.unsplash.com/photo-1545644193-5e58a0cec857?ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80") center center / cover no-repeat;
    /* background: rgba(64, 141, 204, 0.808); */
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

body{
    background: url("https://images.unsplash.com/photo-1559775013-79311d53f0e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") center center / cover no-repeat;
    font-family: 'Orbitron', sans-serif;
}

.highlightNav{
    background: rgb(204, 202, 64); 
}

.on{
    background: black;
}

.square {
    color: white;
    width: 94%;
    margin: 3%;
    float: left;
	padding-bottom: 90%;
    border: 2px solid white; 
}

.squareHighlight{
    color: white;
    width: 94%;
    margin: 3%;
    float: left;
	padding-bottom: 90%;
    border: 2px solid yellow; 
}

.squareClicked{
    color: white;
    width: 94%;
    margin: 3%;
    float: left;
	padding-bottom: 90%;
    border: 2px solid yellow;
}
